/*div,
header,
main,
article,
section,
footer,
body,
nav,
li,
ul,
p,
span,
h2 {
	outline: 1px solid red;
} */

body {
	min-height: 2476px;
	margin: 0;
	padding: 0;
	font-family: "RobotoRegular",  "Arial", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	background-size: 1440px auto;
}


/*-------------------Sprite--------------------*/

.cart-icon, .checkbox-off, .checkbox-on, .close-cross, .fb-icon, .icon-down-dir, .icon-up-dir, .insta-icon, .vk-icon{
	background: url(../img/sprites.png) no-repeat;
}

.cart-icon{
	background-position: -18px -21px ;
	width: 15px;
	height: 15px;
}

.checkbox-off{
	background-position: -64px -16px ;
	width: 23px;
	height: 23px;
}

.checkbox-on{
	background-position: -112px -17px ;
	width: 27px;
	height: 23px;
}

.close-cross {
	background-position: -165px -18px ;
	width: 21px;
	height: 21px;
}

.fb-icon{
	background-position: -218px -17px ;
	width: 12px;
	height: 22px;
}

.icon-down-dir{
	background-position: -370px -23px ;
	width: 11px;
	height: 10px;
}

.icon-up-dir{
	background-position: -421px -19px ;
	width: 11px;
	height: 10px;
}

.insta-icon{
	background-position: -264px -19px ;
	width: 21px;
	height: 21px;
}

.vk-icon{
	background-position: -313px -19px ;
	width: 26px;
	height: 15px;
}




/*----------------------Сетка на флексах-------------*/


.main-header {
	display: flex;
	position: relative;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	margin-bottom: 60px;
	background-color: #eeeeee;
}

.header-wrap {
	display: flex;
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	z-index: 5;
}

.logo {
	width: 200px;
	margin-left: auto;

}

.main-header-menu {
	width: 760px;
	margin-right: 40px;

	
}


.basket {
	width: 160px;
	margin-right: auto;
	
}

main {
	display: flex;
	flex-direction: column;
	width: 1160px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 63px;


	/*background-color: white;*/
}

.slider {
	width: 1160px;
	height: 415px;
	margin-left: auto;
	margin-right: auto;	
}

.services {
	display: flex;
	min-height: 429px;
	margin-bottom: 40px;
	padding-top: 20px;
	border-bottom: 2px solid #e5e5e5;
}

.services-sites {
	position: relative;
	width: 300px;
	margin-right: 100px; 
}

.services-apps {
	position: relative;
	width: 300px; 
	margin-right: 100px; 
}

.services-presentations {
	position: relative;
	width: 300px; 
	
}

.about {
	display: flex;
	justify-content: space-between;
	min-height: 486px;
	border-bottom: 2px solid #e5e5e5;
	

}

.about-description {
	width: 700px;
}

.about-statistics {
	width: 360px;
}

.projects {
	display: flex;
	min-height: 180px;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 79px;
}

.contacts {
	position: relative;
	min-height: 416px;
}

.map {
	position: absolute;
	width: 1440px;
	height: 420px;
	top: -5px;
	left: -140px;
	z-index: 2;
}

.write-us-modal {
	position: fixed;
	display: flex;
	z-index: 110;
	margin: auto;
	top: 50%;
	left: 50%;
	margin-top: -290px;
	margin-left: -480px;
}




.main-footer {
	display: flex;
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	min-height: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-wrap {
	display: flex;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	
}

.main-footer-contacts {
	width: 260px;
	margin-right: 140px;
	
}

.main-footer-be-friends {
	width: 560px;
	margin-right: auto;
	
}

/*---------------Слайдер--------------*/

.controls {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 88px;
	height: 18px;
	top: 430px;
	left: 678px;
}

.controls label {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	z-index: 2;
}

.controls label::before {
	display: none;
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
	top: 3px;
	left: 3px;
}

#slide1:checked ~ .controls label:nth-of-type(1)::before,
#slide2:checked ~ .controls label:nth-of-type(2)::before,
#slide3:checked ~ .controls label:nth-of-type(3)::before {
	display: block;
}


.slider {
	position: relative;
}

.slider a {
	position: absolute;
}

.slider-wrap > input {
	display: none;
}

.slide1 {
	display: block;
	transform: scale(1.5);
	position: absolute;
	width: 1160px;
	height: 415px; 
	bottom: -2px;
	background: url("../img/slide1.png") no-repeat;
}

.slide2 {
	display: block;
	transform: scale(1.5);
	position: absolute;
	width: 1160px;
	height: 415px; 
	background: url("../img/slide2.png") no-repeat;
}

.slide3 {
	display: block;
	transform: scale(1.5);
	position: absolute;
	width: 1160px;
	height: 415px; 
	bottom: -4px;
	background: url("../img/slide3.png") no-repeat;
}

.slides {
	opacity: 0;
	z-index: 0;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}

/*---------------Декорация------------*/

.main-header-menu ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	max-width: 440px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


.main-header-menu li:nth-child(1) {
	margin-right: 48px;
}

.main-header-menu li:nth-child(2) {
	margin-right: 48px;
}

.main-header-menu li:nth-child(3) {
	margin-right: 27px;
}

.main-header-menu li:nth-child(5) {
	margin-right: 48px;
}

.main-header-menu li:nth-child(6) {
	margin-right: 48px;
}

.main-header-menu li:nth-child(7) {
	margin-right: 27px;
}


.main-header-menu a {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.main-header-menu a:hover {
	color: #fb565a;
}

.main-header-menu a:active {
	color: #000000;
	opacity: 0.3;
}

.basket {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;

}

.basket a {
	position: relative;
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	margin-top: 11px;
}

.basket::before {
	content: "";
	left: 44px;
	top: 32px;
	position: absolute;
	background-position: -18px -21px ;
	width: 15px;
	height: 15px;
	background-image: url(../img/sprites.png);
}

.basket a:hover {
	color: #fb565a;
}

.basket a:active {
	color: #000000;
	opacity: 0.3;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
/* IE10+ specific styles go here */  

}

.services-sites h2 {
	text-transform: uppercase;
	font-family: "RobotoBold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 10px;
}

.services-sites p {
	padding-right: 20px;
	margin-top: 0px;
}

.services-apps h2 {
	text-transform: uppercase;
	font-family: "RobotoBold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 10px;
}

.services-apps p {
	padding-right: 20px;
	margin-top: 0px;
}

.services-presentations h2 {
	text-transform: uppercase;
	font-family: "RobotoBold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 10px;
}

.services-presentations p {
	padding-right: 20px;
	margin-top: 0px;

}

.services-sites a {
	position: absolute;
	bottom: 83px;
	left: 0px;
	

}

.services-apps a {
	position: absolute;
	bottom: 83px;
	left: 0px;
}

.services-presentations a {
	position: absolute;
	bottom: 83px;
	left: 0px;
}

.btn {
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	padding: 16px 39px;
	background-color: #fb565a; 
    border-radius: 3px;
}

.btn:hover {
	background-color: #e74246;
}

.btn:active {
	background-color: #d7373b;
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:active {
	background-color: #00aa62;
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
}

.btn-orange {
	background-color: #efc84a;
}

.btn-orange:hover {
	background-color: #eab534;
}

.btn-orange:active {
	background-color: #e5a722;
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.3);
}

.about-description {
	padding-top: 15px;
}

.about-description b {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 45px;
	line-height: 45px;
}

.about-description p:first-child {
	margin-bottom: 30px;
}

.about-description p:nth-child(2) {
	padding-right: 20px;
	margin-bottom: 40px;
}

.about-description h2 {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 22px;
}

.about-description p:nth-child(4) {
	position: relative;
	padding-left: 35px;
	margin-bottom: 25px;
	color: #283136;
}

.about-description p:nth-child(5) {
	position: relative;
	padding-left: 35px;
	margin-bottom: 25px;
	color: #283136;
}

.about-description p:nth-child(6) {
	position: relative;
	padding-left: 35px;
	color: #283136;
}

.about-description p:nth-child(4)::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	left: 1px;
	top: 13px;
	background-color: #fb565a;
}

.about-description p:nth-child(5)::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	left: 1px;
	top: 12px;
	background-color: #fb565a;
}

.about-description p:nth-child(6)::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	left: 1px;
	top: 11px;
	background-color: #fb565a;
}

.about-statistics {
	display: flex;
	flex-direction: column;
}

.about-statistics-advantages {
	display: flex;
}

.about-statistics img {
	margin-bottom: 20px;
}

.about-statistics h2 {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 48px;
	padding-left: 17px;
}

.about-statistics-1 {
	width: 100px;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.about-statistics-1 sup {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 26px;
	line-height: 10px;
	font-weight: 700;
}

.about-statistics-1 p:first-child {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 45px;
	line-height: 30px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
}

.about-statistics-1 p:last-child {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;

}

.about-statistics-2 {
	width: 100px;
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.about-statistics-2 sup {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 26px;
	line-height: 10px;
	font-weight: 700;
}

.about-statistics-2 p:first-child {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 45px;
	line-height: 30px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
}

.about-statistics-2 p:last-child {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}

.about-statistics-3 {
	width: 100px;
	display: flex;
	flex-direction: column;
}

.about-statistics-3 sup {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 26px;
	line-height: 10px;
	font-weight: 700;
}

.about-statistics-3 p:first-child {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 45px;
	line-height: 30px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
}

.about-statistics-3 p:last-child {
	font-family: "RobotoRegular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}

.projects {
	display: flex;
	justify-content: space-between;
}

.projects div {
	width: 260px;
	position: relative;
}

.htmlacademy img {
	position: absolute;
	top: 60px;
	left: 30px;
	opacity: 0.2;
}

.htmlacademy::after {
	content: "";
	position: absolute;
	height: 52px;
	width: 2px;
	background-color: #818181;
	opacity: 0.1;
	left: 279px;
	top: 64px;
}

.htmlacademy img:hover {
	opacity: 1;
}

.htmlacademy img:active {
	opacity: 0.1;
}

.borodinski img {
	position: absolute;
	top: 43px;
	left: 25px;
	opacity: 0.2;
}

.borodinski img:hover {
	opacity: 1;
}

.borodinski img:active {
	opacity: 0.1;
}

.borodinski::after {
	content: "";
	position: absolute;
	height: 52px;
	width: 2px;
	background-color: #818181;
	opacity: 0.1;
	left: 279px;
	top: 64px;
}

.pink img {
	position: absolute;
	top: 60px;
	left: 38px;
	opacity: 0.2;
}

.pink img:hover {
	opacity: 1;
}

.pink img:active {
	opacity: 0.1;
}

.pink::after {
	content: "";
	position: absolute;
	height: 52px;
	width: 2px;
	background-color: #818181;
	opacity: 0.1;
	left: 279px;
	top: 64px;
}

.mishka img {
	position: absolute;
	top: 48px;
	left: 43px;
	opacity: 0.2;
}

.mishka img:hover {
	opacity: 1;
}

.mishka img:active {
	opacity: 0.1;
}

.contacts-map img {
	position: relative;
	left: -140px;
	top: 0px;
	z-index: 1;
}

.contacts-feedback {
	position: absolute;
	width: 220px;
	min-height: 200px;
	padding: 55px 50px;
	top: 55px;
	left: 0px;
	background-color: #ffffff;
	z-index: 3;
}

.contacts-feedback h2 {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	margin: 0px;
}

.contacts-feedback p {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	margin-bottom: -5px;
}

.contacts-feedback span {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	margin-top: -10px;
}

.contacts-feedback a {
	position: absolute;
	display: block;
	bottom: 48px;
}

.write-us-modal {
	display: none;
	width: 760px;
	height: 445px;
	background-color: #ffffff;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 68px 100px 80px 100px;
	box-shadow: 0 25px 45px rgba(0,0,0,0.5), 0 -5px 45px rgba(0,0,0,0.5);
}

.write-us-modal-show {
	display: flex;
	animation-name: popup;
	animation-duration: 0.8s;
}

@keyframes popup {
	0% { transform: translateY(-2000px); }
   70% { transform: translateY(30px); }
   90% { transform: translateY(-10px); }
  100% { transform: translateY(0); } 
}

@keyframes shake {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.write-us-modal-error {
	animation-name: shake;
	animation-duration: 0.5s;
}

.write-us-modal h2 {
	font-family: "RobotoMedium", "Arial", sans-serif;
	font-size: 45px;
	line-height: 30px;
	font-weight: 500;
	margin-top: 0px;
}

.write-us-form input[name="name"]:focus {
	outline: none;
	border: 2px solid #000000;
	border-radius: 5px;
}

.write-us-form input[name="email"]:focus {
	outline: none;
	border: 2px solid #000000;
	border-radius: 5px;
}

.write-us-form textarea:focus {
	outline: none;
	border: 2px solid #000000;
	border-radius: 5px;
}

.overlay {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay-show {
	display: block;
}

.write-us-form {
	position: relative;
	width: 760px;
	height: 325px;
}

.write-us-form input[type="text"]{
	width: 332px;
	margin-right: 26px;
	border-radius: 5px; 
	border: 2px solid #d7dcde;
	padding: 14px; 
	margin-bottom: 60px;
}

.write-us-form input[type="email"]{
	width: 332px;
	border-radius: 5px;
	border: 2px solid #d7dcde;
	padding: 14px;  
}

.write-us-modal label:nth-of-type(1) {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	position: absolute;
	top: -28px;



}

.write-us-modal label:nth-of-type(2) {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	position: absolute;
	top: -28px;
}

.write-us-form textarea {
	width: 724px;
	height: 115px;
	padding: 11px 14px;
	border-radius: 5px;
	border: 2px solid #d7dcde;
	margin-bottom: 50px;
	resize: none;
}

.write-us-modal label:nth-of-type(3) {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	position: absolute;
	left: 0px;
	top: 80px;
}

.write-us-form button:nth-of-type(1) {
	border: none;
	padding-left: 80px;
	padding-right: 80px;

}

.close-cross {
	position: absolute;
	border: none;
	right: 90px;
	top: 78px;
	opacity: 0.3;
	cursor: pointer;
	
}

.main-footer-contacts {
	display: flex;
	justify-content: space-between;
}

.main-footer-contacts a {
	position: relative;
	width: 80px;
	height: 80px;
	font-size: 0px;
	background-color: #e8e8e8;
	border-radius: 50%;
}

.main-footer-contacts a:hover {
	background-color: #e84c50;
}

.main-footer-contacts a:active {
	background-color: #db4d51;
	box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.5);
}

.main-footer-contacts a:active::before {
	opacity: 0.3;
}

.main-footer-contacts a:nth-child(1)::before {
	content: "";
	position: absolute;
	background-position: -313px -19px ;
	width: 26px;
	height: 15px;
	background-image: url(../img/sprites.png);
	top: 32px;
	left: 26px;
}

.main-footer-contacts a:nth-child(2)::before {
	content: "";
	position: absolute;
	background-position: -218px -17px ;
	width: 12px;
	height: 22px;
	background-image: url(../img/sprites.png);
	top: 28px;
	left: 34px;
}

.main-footer-contacts a:nth-child(3)::before {
	content: "";
	position: absolute;
	background-position: -264px -19px ;
	width: 21px;
	height: 21px;
	background-image: url(../img/sprites.png);
	top: 28px;
	left: 30px;
}

.main-footer-be-friends {
	display: flex;
	flex-direction: column;
}

.main-footer-be-friends h2 {
	font-family: "RobotoBold", "Arial", sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 12px;
}

.main-footer-be-friends p {
	margin: 0;
}



